.timer__block {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.timer__container {
  max-width: 575px;
  margin: 0 auto;
  text-align: center;
  padding: 0 50px;
}

.timer__title {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: -30px;
}

.timer__title span {
  text-align: center;
  font-size: 64px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: #313338;
}

.timer__inner_container {
  max-width: 450px;
  margin: 0 auto;
  padding: 48px 43px;
}

.timer__input {
  display: flex;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
  padding-bottom: 28px;
}

.timer__input > input {
  width: 150px;
  background: #313338;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

.timer__words {
  width: 120px;
  text-align: center;
  font-size: 24px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: #313338;
}

.timer__btns {
  display: flex;
  column-gap: 20px;
  justify-content: center;
}

.timer__btns > button {
  background: #313338;
  text-align: center;
  font-size: 12px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 8px 25px;
  border-radius: 5px;
  //color: #ddc1c1;
  cursor: pointer;
}

.timer__button_inActive {
  color: #fff;
  cursor: default;
  opacity: 50%;
}

.timer__button_active {
  color: #fff;
  cursor: pointer;
}
